1. What are the column names in the Iris dataset?
2. How many rows and columns are there in the dataset?
3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?
4. What is the average sepal length?
5. what is the largest petal length, and what is its value? 
6. What is the mean and standard deviation of petal width for the Setosa species?
7. Check for missing values in the dataset 
8. Extract the `Species` column using loc and iloc method
9. Drop `sepal Width` column
10. Get `petalwidth` 10th value using at and iat

#### 1.What are the column names in the Iris dataset?

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"C:\Users\CHARISHMA\Downloads\Iris_clean.xlsx")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,10.2,Iris-setosa
4,5,50.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
160,161,7.7,2.8,6.7,2.0,NaN
161,162,6.3,2.7,4.9,1.8,Iris-virginica
162,163,7.2,3.6,6.1,2.5,Iris-virginica
163,164,6.5,3.2,5.1,2.0,Iris-virginica
164,165,6.4,2.7,5.3,1.9,Iris-virginica

In [3]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

#### 2. How many rows and columns are there in the dataset?

In [33]:
print(df.shape)
print(df.shape[0])
print(df.shape[1])

(165, 6)
165
6

In [ ]:
165 rows and 6 columns

#### 3. Can you provide a summary of the dataset, including mean, median, and other statistics for each feature?

In [7]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  165.000000     161.000000    159.000000     159.000000    165.000000
mean    83.000000       7.510559      4.713208       4.022642      2.810909
std     47.775517      11.162995     13.468999       2.052505     12.097722
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     42.000000       5.100000      2.800000       1.600000      0.400000
50%     83.000000       5.800000      3.000000       4.500000      1.500000
75%    124.000000       6.500000      3.300000       5.150000      1.900000
max    165.000000     116.300000    130.000000      13.800000    111.100000

In [4]:
#otherway
sepallength = df['SepalLengthCm']
sepallength

0       5.1
1       4.9
2       4.7
3       4.6
4      50.0
       ...
160     7.7
161     6.3
162     7.2
163     6.5
164     6.4
Name: SepalLengthCm, Length: 165, dtype: float64

In [5]:
sepallength.describe()

count    161.000000
mean       7.510559
std       11.162995
min        4.300000
25%        5.100000
50%        5.800000
75%        6.500000
max      116.300000
Name: SepalLengthCm, dtype: float64

In [6]:
sepallength.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalLengthCm
Non-Null Count  Dtype
--------------  -----
161 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [7]:
sepalwidth = df['SepalWidthCm']
sepalwidth

0      3.5
1      3.0
2      3.2
3      3.1
4      3.6
      ...
160    2.8
161    2.7
162    3.6
163    3.2
164    2.7
Name: SepalWidthCm, Length: 165, dtype: float64

In [8]:
sepalwidth.describe()

count    159.000000
mean       4.713208
std       13.468999
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max      130.000000
Name: SepalWidthCm, dtype: float64

In [9]:
sepalwidth.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: SepalWidthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [10]:
petallength = df['PetalLengthCm']
petallength

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [11]:
petallength.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalLengthCm
Non-Null Count  Dtype
--------------  -----
159 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [12]:
petallength.describe()

count    159.000000
mean       4.022642
std        2.052505
min        1.000000
25%        1.600000
50%        4.500000
75%        5.150000
max       13.800000
Name: PetalLengthCm, dtype: float64

In [13]:
petalwidth = df['PetalWidthCm']
petalwidth

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
       ...
160     2.0
161     1.8
162     2.5
163     2.0
164     1.9
Name: PetalWidthCm, Length: 165, dtype: float64

In [14]:
petalwidth.info()

<class 'pandas.core.series.Series'>
RangeIndex: 165 entries, 0 to 164
Series name: PetalWidthCm
Non-Null Count  Dtype
--------------  -----
165 non-null    float64
dtypes: float64(1)
memory usage: 1.4 KB

In [15]:
petalwidth.describe()

count    165.000000
mean       2.810909
std       12.097722
min        0.100000
25%        0.400000
50%        1.500000
75%        1.900000
max      111.100000
Name: PetalWidthCm, dtype: float64

#### 4.What is the average sepal length?

In [5]:
sepal_length = df.iloc[0:,1]
sepal_length.mean()

7.510559006211181

#### 5.what is the largest petal length, and what is its value?

In [7]:
petal_length = df.iloc[0:,3]
petal_length

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
160    6.7
161    4.9
162    6.1
163    5.1
164    5.3
Name: PetalLengthCm, Length: 165, dtype: float64

In [8]:
petal_length.max()

13.8

#### 6. What is the mean and standard deviation of petal width for the Setosa species?

In [19]:
setosa = df[df['Species'] == 'Iris-setosa']
setosa

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5          10.2  Iris-setosa
4    5           50.0           3.6            1.4           0.2  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            NaN           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8         130.0            1.4          10.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17           50.4           NaN            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0          34.0            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4         110.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3           13.0           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [22]:
petal = setosa['PetalWidthCm']
petal

0       0.2
1       0.2
2       0.2
3      10.2
4       0.2
6       0.3
7       0.2
8       0.2
9       0.1
10      0.2
11      0.2
12     10.1
13      0.1
14      0.2
15      0.4
16      0.4
17      0.3
18      0.3
19      0.3
20      0.2
21      0.4
22      0.2
23      0.5
24      0.2
25      0.2
26      0.4
27      0.2
28    110.2
29      0.2
30      0.2
31      0.4
32      0.1
33      0.2
34      0.1
35      0.2
36      0.2
37      0.1
38      0.2
39      0.2
40      0.3
41      0.3
42      0.2
44      0.4
45      0.3
46      0.2
47      0.2
48      0.2
49      0.2
Name: PetalWidthCm, dtype: float64

In [23]:
petal.mean()

2.9416666666666664

In [24]:
petal.std()

15.937148271741119

#### 7. Check for missing values in the dataset

In [17]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

In [18]:
df.isna()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
160  False          False         False          False         False     True
161  False          False         False          False         False    False
162  False          False         False          False         False    False
163  False          False         False          False         False    False
164  False          False         False          False         False    False

[165 rows x 6 columns]

In [19]:
df.isnull().sum()

Id               0
SepalLengthCm    4
SepalWidthCm     6
PetalLengthCm    6
PetalWidthCm     0
Species          5
dtype: int64

#### 8. Extract the `Species` column using loc and iloc method

In [8]:
df.loc[0:,'Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
160               NaN
161    Iris-virginica
162    Iris-virginica
163    Iris-virginica
164    Iris-virginica
Name: Species, Length: 165, dtype: object

In [9]:
df.iloc[0:,5:]

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
160             NaN
161  Iris-virginica
162  Iris-virginica
163  Iris-virginica
164  Iris-virginica

[165 rows x 1 columns]

In [ ]:
#### 9. Drop `sepal Width` column

In [22]:
df.drop('SepalWidthCm',axis = 1,inplace = True)

In [23]:
df

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5          10.2     Iris-setosa
4      5           50.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
160  161            7.7            6.7           2.0             NaN
161  162            6.3            4.9           1.8  Iris-virginica
162  163            7.2            6.1           2.5  Iris-virginica
163  164            6.5            5.1           2.0  Iris-virginica
164  165            6.4            5.3           1.9  Iris-virginica

[165 rows x 5 columns]

#### 10. Get `petalwidth` 10th value using at and iat

In [26]:
df.at[10,'PetalWidthCm']

0.2

In [25]:
df.iat[10,3]

0.2